body {
  padding-top: 2px;
  width: 100%;

  font-family: Georgia, 'Times New Roman', Times, serif;
  background: linear-gradient(to right, #8c9e9d, #e9e9ec);
}

#navSection {
  margin-right: 0;
  padding-right: 0;

  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 2px 4px 3px;
  background-color: rgb(77, 101, 77);
  position: relative;
}

@media (max-width: 768px) {
  #navSection {
    position: static;
  }

  .navItems {
    flex-direction: column;
    align-items: flex-start;
  }

  .navItems li {
    width: 100%;
    margin-bottom: 5px;
  }
}

.navItems {
  padding: 5px;
  width: 100%;
  list-style: none;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  width: 100%;
}

#item1 {
  margin-right: auto;
  padding-left: 4px;
  font-size: xx-large;
  font-weight: 900;
}

.item {
  padding: 5px;
  font-size: large;
}

#item3 {
  border-right: 1px solid black;
}

#item2 {
  border-right: 1px solid black;
}
#item2,
#item1,
#item3 {
  font-style: italic;
}

.time {
  width: 100%;
  padding: 7px;
  padding-top: 2px;
  height: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#h1 {
  text-align: center;
  text-decoration: underline;
}
#list-section {
  margin-top: 150px;
}
#Books-section {
  border: 2px solid black;
  border-radius: 5px;
  margin: 5%;
}
.newRow {
  border: 0.5px solid black;

  display: flex;
  justify-content: space-between;
}

.newBook {
  margin-left: 12px;
  margin-top: 7px;
  font-size: larger;
}
.Remove {
  margin: 7px;
  border-radius: 5px;
  font-size: larger;
  width: 80px;
}
@media (max-width: 400px) {
  .Remove {
    content: X; /* Change the content to 'X' */
  }
}
.evenBook {
  background-color: rgb(154, 197, 197);
}
#main {
  text-align: center;
}

#addingSection {
  width: 100%;
  text-align: center;
}
#Title,
#Author,
#AddButton {
  border-radius: 4px;
}
.A {
  padding: 10px;
  margin: 3px;
  border-radius: 4px;
}

.hrl {
  width: 30%;
  border: 1px solid blue;
}

.horzontalLine {
  width: 100%;
  display: flex;
  justify-content: center;
}

.contactSection {
  margin-top: 40px;
  width: 100%;
}

.cs {
  width: 100%;
}

#contact-head {
  text-align: center;
}

#contact-details {
  text-align: left;
  padding-left: 15%;
}

#ul2 {
  border: none;
}
